@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?s69sdk');
  src:  url('../fonts/icomoon.eot?s69sdk#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?s69sdk') format('truetype'),
    url('../fonts/icomoon.woff?s69sdk') format('woff'),
    url('../fonts/icomoon.svg?s69sdk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}



.icon-thumb-up:before {
  content: "\e900";
}
