/* #News-smart-box */
.full-width-header-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content,
.after-content-full-width-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content,
.before-content-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content,
.after-content-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content,
.tm_pb_column_4_4 .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content {
	background: linear-gradient(to bottom, @alpha($regular_accent_color_2, 0%), @alpha($regular_accent_color_2, 80%));
	color: $invert_text_color;
}

.full-width-header-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content a,
.after-content-full-width-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content a,
.before-content-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content a,
.after-content-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content a,
.tm_pb_column_4_4 .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content a,

.full-width-header-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content .entry-meta a:hover,
.after-content-full-width-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content .entry-meta a:hover,
.before-content-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content .entry-meta a:hover,
.after-content-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content .entry-meta a:hover,
.tm_pb_column_4_4 .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content .entry-meta a:hover,

.full-width-header-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content .posted-by,
.after-content-full-width-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content .posted-by,
.before-content-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content .posted-by,
.after-content-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content .posted-by,
.tm_pb_column_4_4 .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content .posted-by,

.full-width-header-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content .posted-by a,
.after-content-full-width-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content .posted-by a,
.before-content-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content .posted-by a,
.after-content-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content .posted-by a,
.tm_pb_column_4_4 .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content .posted-by a{
	color: $invert_link_color;
}

.full-width-header-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content a:hover,
.after-content-full-width-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content a:hover,
.before-content-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content a:hover,
.after-content-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content a:hover,
.tm_pb_column_4_4 .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content a:hover,

.full-width-header-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content .entry-meta a,
.after-content-full-width-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content .entry-meta a,
.before-content-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content .entry-meta a,
.after-content-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content .entry-meta a,
.tm_pb_column_4_4 .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content .entry-meta a,

.full-width-header-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content .posted-by a:hover,
.after-content-full-width-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content .posted-by a:hover,
.before-content-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content .posted-by a:hover,
.after-content-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content .posted-by a:hover,
.tm_pb_column_4_4 .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content .posted-by a:hover {
	color: $invert_link_hover_color;
}

.news-smart-box__navigation-terms-list-item:hover,
.news-smart-box__navigation-terms-list-item.is-active {
	color: $regular_link_color;
}

.news-smart-box__navigation-title {
	color: $regular_accent_color_2;
}

.news-smart-box__instance .double-bounce-1,
.news-smart-box__instance .double-bounce-2 {
	background-color: $regular_accent_color_1;
}

.news-smart-box__navigation-terms-list-item{
	color: $invert_accent_color_3;
	font-family: @font_family( $meta_font_family );
}

.news-smart-box__navigation-terms-list-item:hover,
.news-smart-box__navigation-terms-list-item.is-active{
	color: $regular_accent_color_2;
}

.news-smart-box__item.mini-type .news-smart-box__item-thumb-link:hover,
.full-width-header-area .widget-custom-posts .custom-posts__item .post-thumbnail:hover,
.before-content-area .widget-custom-posts .custom-posts__item .post-thumbnail:hover,
.before-loop-area .widget-custom-posts .custom-posts__item .post-thumbnail:hover,
.after-loop-area .widget-custom-posts .custom-posts__item .post-thumbnail:hover,
.after-content-area .widget-custom-posts .custom-posts__item .post-thumbnail:hover,
.after-content-full-width-area .widget-custom-posts .custom-posts__item .post-thumbnail:hover,
.footer-area-wrap .widget-custom-posts .custom-posts__item .post-thumbnail:hover{
	border-color: $regular_accent_color_1;
}

.news-smart-box__item.mini-type .news-smart-box__item-thumb-link:before,
.custom-posts__item .post-thumbnail__link:before{
	background-color: @alpha($regular_accent_color_1, 50);
}

.news-smart-box__item-thumb-link:before{
	background-color: @alpha($regular_accent_color_1, 30);
}